body {
background-color: #FFFFFF;
color: #212121;
cursor: pointer;
font-style: normal;
font-weight: 400;
font-family: 'Roboto', 'Montserrat', 'Raleway', sans-serif;
}
ul {
    list-style: none;
}

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --white-color: #FFFFFF;
    --accent-color: #2196F3;
    --secondary-back-color: #F5F5F5;
}
/* колір основного тексту #212121 */

/* колір другорядного тексту #757575 */

/* білий колір #FFFFFF */

/* акцент #2196F3 */

/* другорядний колір фону #F5F5F5 */

/* Шапка */
.logo {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
         color: #2196F3;
}

.site.nav .link {
    color: var(--primary-text-color);
    
        
        font-weight: 500;
        font-size: 14px;
        line-height: 1.2;
}

.site.nav .tittle {
    
        
        font-weight: 500;
        font-size: 14px;
        line-height: 1.2;
}

/* Блок Герой */
.hero-description {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.2;
}

.hero-button {
    background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.2;
                
            color: #FFFFFF;
}

/* < !-- Блок Списку --> */
.section-tittle {

   
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    
}

.section .section-description {
   
        font-size: 14px;
        line-height: 1.2;
          
       }

/* Блок з Фото */

.foto .tittle {
   
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
}
/* < !-- Команда --> */

.team-tittle {
position: absolute;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
}

.team-name {
            font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        /* identical to box height */
    
        
}

    .team-description {

font-size: 16px;
line-height: 1.2;

    }

/* Портфоліо Блок Нав */


.section-nav-title {
    cursor: pointer;
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        /* identical to box height, or 162% */
    
          
} 

/* Приклади Робіт */

.section-example-tittle {
     
        font-weight: 700;
        font-size: 18px;
        line-height: 1.2;
          
        
    
        color: #212121;
}

.section-example-text 

{font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;}

/* Футер */
.adress {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
}

.link:hover {
color: var(--accent-color)
}

.link:focus {
    color: var(--accent-color);
}

.link:active {
    color: var(--accent-color)
}

.link-current:hover {
    color:var(--accent-color)
}

.link-current:focus {
    color: var(--accent-color);
}

.link-current:active {
    color:var(--accent-color)
}
